
:root{
    
}
$main-color: #b429b9;
$red: rgb(172, 20, 20);
$blue: rgb(20, 68, 172);
$light-color: #777;
$light-bg: #eee;
$black: #50204c;
$black-2: #181818;
$white: #fff;
$box-shadow: 0.5rem 1rem rgba(22, 22, 22, 0.1);
$border: .1rem solid rgba(0,0,0,.2);